[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "==0.6.2"
dash = "*"
python-dotenv = "==1.0.0"
werkzeug = "==2.3.7"
dash-bootstrap-components = "*"
pandas = "*"
psycopg2-binary = "==2.9.9"
numpy = "==1.26.1"

[dev-packages]

[requires]
python_version = "3.8"
